{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>tentangThariq</title>
</head>
<body>
  <div class="row">
      <div class="column">
        <p id="perkenalanThariq" class="main-header">Halo, <br> perkenalkan namaku Thariq!</p>
        <img id="fotoThariq" src="https://maung.id/static/9d46a770ead53421b748573caa5a49be/9f583/FR50.jpg" alt="Thariq">
        <button id="background-btn" onclick="changeTheme()" style="margin-left: 180px; margin-top: 50px;">Ganti Tema</button>
      </div>
      
      <div class="column">
          <div class="accordion-container">
              <div class="accordion shadow" data-aos="fade-zoom-in">
                  <div id="teeeeeeeeeees" class="accordion-header">
                      <div class="accordion-header-left" id="activity-btn">
                        <img class="accordion-logo" src="https://st.depositphotos.com/1832477/4381/v/450/depositphotos_43816391-stock-illustration-vector-illustration-of-check-list.jpg" alt="Aktivitas">
                        <div class="accordion-title">Aktivitas Sekarang</div>
                      </div>
                      <div class="accordion-buttons">
                          <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                          </div>
                          <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-body hidden" id="activity-body">
                      <div class="activity-card-container">
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">Belajar Progamming</h3>
                            <h5 class="activity-subtitle">menggunakan bahasa Java, serta belajar tentang cara membuat web</h5>
                          </div>
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">Nonton La Casa de Papel</h3>
                            <h5 class="activity-subtitle">Bella Ciao</h5>
                          </div>
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">Kuliah Online</h3>
                            <h5 class="activity-subtitle">Universitas Indonesia</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="accordion shadow" data-aos="fade-zoom-in">
                  <div class="accordion-header">
                      <div class="accordion-header-left" id="experience-btn">
                        <img class="accordion-logo" src="https://st2.depositphotos.com/2885805/5450/v/450/depositphotos_54501203-stock-illustration-business-team-top-view.jpg">
                        <div class="accordion-title">Pengalaman Organisasi/Kepanitiaan</div>
                      </div>
                      <div class="accordion-buttons">
                          <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                          </div>
                          <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-body hidden" id="experience-body">
                      <div class="activity-card-container">
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">
                                Staf Fundraising
                                <Small>COMPFEST 12</Small>
                            </h3>
                            <h5 class="activity-subtitle">
                                Feb 2020 - Sekarang
                            </h5>
                          </div>
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">
                                Anggota Business<br> 
                                Intelligence SIG<br>
                                <Small>SISTEM Fasikom UI</Small>
                            </h3>
                            <h5 class="activity-subtitle">
                                Mar 2020 - Sekarang
                            </h5>
                          </div>
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">
                                Bendahara Umum<br>
                                <small>OSIS SMA Labschool Kebayoran</small>
                            </h3>
                            <h5 class="activity-subtitle">
                                2017 - 2018
                            </h5>
                          </div>
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">
                                Bendahara I<br>
                                <small>Sky Avenue 2018</small>
                            </h3>
                            <h5 class="activity-subtitle">
                                SMA Labschool Kebayoran's Art Event for Unity and Equality<br>
                            </h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="accordion shadow" data-aos="fade-zoom-in">
                  <div class="accordion-header">
                      <div class="accordion-header-left" id="achievement-btn">
                        <img class="accordion-logo" src="https://st4.depositphotos.com/2585479/22730/v/450/depositphotos_227303816-stock-illustration-golden-medal-icon.jpg">
                        <!-- https://st.depositphotos.com/1011264/2137/v/450/depositphotos_21379063-stock-illustration-blank-guarantee.jpg -->
                        <div class="accordion-title">Prestasi</div>
                      </div>
                      <div class="accordion-buttons">
                          <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                          </div>
                          <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-body hidden" id="achievement-body">
                      <div class="activity-card-container">
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">
                              Peringkat 8<br>
                              <small>Indonesian Robotic Olympiad</small>
                            </h3>
                            <h5 class="activity-subtitle">2011</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="accordion shadow" data-aos="fade-zoom-in">
                  <div class="accordion-header">
                      <div class="accordion-header-left" id="contact-btn">
                        <img class="accordion-logo" src="https://st2.depositphotos.com/1007566/6744/v/450/depositphotos_67443097-stock-illustration-mail-icon.jpg">
                        <div class="accordion-title">Kontak</div>
                      </div>
                      <div class="accordion-buttons">
                          <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                          </div>
                          <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                          </div>
                    </div>    
                  </div>
                  <div class="accordion-body hidden" id="contact-body">
                      <div class="activity-card-container">
                          <div class="activity-card" data-aos="fade-zoom-in">
                            <h3 class="activity-title">E-mail</h3>
                            <h5 class="activity-subtitle">thariq.razan@ui.ac.id</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script>
    AOS.init();
    $('#activity-btn').click(function(){
        $('#activity-body').toggleClass('hidden');
    })
    $('#experience-btn').click(function(){
        $('#experience-body').toggleClass('hidden');
    })
    $('#achievement-btn').click(function(){
        $('#achievement-body').toggleClass('hidden');
    })
    $('#contact-btn').click(function(){
        $('#contact-body').toggleClass('hidden');
    })

    $('.accordion-button-up').click(function(){
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertBefore(thisAccordion.prev()).hide().show('slow');;
    })

    $('.accordion-button-down').click(function(){
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertAfter(thisAccordion.next()).hide().show('slow');;
    })

    function changeTheme() {
        document.body.style.background = "url(https://images6.alphacoders.com/416/thumb-1920-416955.jpg) no-repeat right top";
        var accordionList = document.getElementsByClassName('accordion-header');
        var cardList = document.getElementsByClassName('activity-card');
        for (var i = 0; i < accordionList.length; i++) {
            accordionList[i].style.backgroundColor = 'black';
            accordionList[i].style.color = 'white';
        }
        for (var i = 0; i < cardList.length; i++) {
            cardList[i].style.backgroundColor = 'black';
            cardList[i].style.color = 'white';
        }
        var perkenalan = document.getElementById('perkenalanThariq');
        perkenalan.innerHTML = '<span style="background-color: black; color: white">Dark Mode (beta)</span>';
    }
  </script>
</body>
</html>
